<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Uložené PSČ
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1555</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- card component with weather from API -->
  <ng-container *ngFor="let item$ of city">
    <ion-card *ngIf="item$ | async; let cit "(click)="ShowDetail(cit)">


        


      <ion-card-header>
       
        <ion-card-subtitle>{{cit["country abbreviation"]}} - {{cit.country}}

        </ion-card-subtitle>

        <ion-item style=" float:right" class="close-btn">
          <ion-icon name="trash-outline"  (click)="RemoveCity(cit)" color="primary">
          </ion-icon>
     </ion-item>
      
        
              



        <!-- show data -->
        <ion-card-title>PSČ: {{cit["post code"]}}

          
        </ion-card-title>
      </ion-card-header>


      <ion-card-content class="ion-no-padding" *ngFor="let item of cit.places">

        {{item["place name"]}}
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button color="primary" size="large" (click)="AddCity(true)">
        Uložit nové
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="AddCity(false)">
        Vyhledat
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>